/*_________________________________Moi*/
#moi {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Tektur", sans-serif;
    line-height: 1.6;
}

h2, h3 {
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: 100;
}

#Ap-intro {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

#Ap-intro p {
    margin: 0;
}

#Ap-intro img {
    height: clamp(200px, 40vw, 300px);
}

@media (max-width: 1024px) {/*______________________________RÈGLES MOBILE (> 1024px)*/

    #Ap-intro {
        display: flex;
        flex-direction: column;
    }

    #Ap-intro a {
        margin: auto;
    }
}

