/*_________________________________Moi*/
#moi {
    max-width: 800px;
    margin: 15px auto;
    padding: 0 20px;
    font-family: "Tektur", sans-serif;
    line-height: 2;
}

#moi h1 {
    font-weight: 500;
}

#moi h2, h3 {
    margin: 0;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: 400;
}

#moi p {
    text-align: justify;/* Force chaque ligne à occuper toute la largeur du conteneur */
    hyphens: auto;/* Active la coupure automatique des mots avec un tiret (-) */
    -webkit-hyphens: auto;/* Indique au navigateur que le texte est en français pour bien couper les mots */
}

#Ap-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  /* padding: 10px 0; */
}

#Ap-title img {
    /* width: clamp(8vw, 10vw, 20vw); */
    height: 7.5vw;
}

#maphoto {
    display: flex;
    justify-content: center;
}

#maphoto img {
    width: clamp(200px, 40vw, 300px);
    height: auto;
}

.mestr {
    font-size: 115%;
    background: linear-gradient(135deg, #0f172a 0%, #2563eb 100%);
  -webkit-background-clip: text; /* Pour Chrome, Safari, Edge */
  background-clip: text;         /* La propriété standard demandée par VS Code */
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) {/*______________________________RÈGLES MOBILE (< 1024px)*/

    #Ap-intro {
        display: flex;
        flex-direction: column;
    }

    /* #Ap-intro a {
        margin: auto;
    } */

    #Ap-title {
        display: flex;
        flex-direction: column;
    }

    
}

