/*_________________________________Mes chantiers*/
#chan {
    max-width: 800px;
    margin: 15px auto;
    padding: 0 20px;
    font-family: "Tektur", sans-serif;
    line-height: 2;
    text-align: center;
}

#chan h1 {
    font-weight: 500;
}

#chan h2, h3 {
    margin: 0;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: 400;
}

#chan img {
    max-width: 100%;
}

#chan h1 {
    font-weight: 500;
}

#chan-par {
    text-align: justify;/* Force chaque ligne à occuper toute la largeur du conteneur */
    hyphens: auto;/* Active la coupure automatique des mots avec un tiret (-) */
    -webkit-hyphens: auto;/* Indique au navigateur que le texte est en français pour bien couper les mots */
}

