/*___________________________________________________CONTENEUR FORMULAIRE*/
#contact {
    font-family: "Tektur", sans-serif;
    max-width: 600px; /* Le formulaire ne sera jamais trop large */
    margin: 50px auto; /* Centre le formulaire dans la page */
    text-align: center;
    padding: 30px;
    background-color: white; /* Un joli fond blanc pour faire ressortir le formulaire */
    /* border-radius: 20px; */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    scroll-margin-top: 80px;
}

#contact h2 {
    font-family: "Tektur", sans-serif;
    margin-top: 0;
    font-size: clamp(1.2rem, 4vw, 1.8rem);
    font-weight: 500;
}

.form-group {
    margin: 15px 0;
}
/*__________________________________________________________________CASES*/
.form-group input, 
.form-group textarea {
    width: 100%; /* Prend toute la largeur de la div .form-group */
    padding: 15px; /* AGRANDIT LES CASES (haut/bas et gauche/droite) */
    border: 1px solid #ccc; /* Bordure grise douce */
    border-radius: 8px; /* Coins légèrement arrondis */
    font-family: "Tektur", sans-serif; /* Même police que le reste du site */
    font-size: 1rem;
    box-sizing: border-box; /* Oblige le padding à rester à l'intérieur de la largeur définie */
    transition: border-color 0.3s ease;
}
/*__________________________________________________________ACCESSIBILITÉ*/
/*Ce qui se passe quand on clique dans une case*/
.form-group input:focus, 
.form-group textarea:focus {
    outline: none;/*Enlève contour bleu moche par défaut Windows/Chrome*/
    border-color: #004bca;/*Met bordure case en bleu*/
    box-shadow: 0 0 5px rgba(0, 75, 202, 0.3);/*Effet lumineux*/
}
/*__________________________________________________________BOUTON ENVOI*/
.bouton-envoyer {
    font-family: "Tektur", sans-serif;
    color: #0F172A;
    background-color: #F8F9FA;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    /* font-size: 1rem; */
    font-weight: 600;
    border: solid 1px #62b8ff;
    /* border-radius: 20px; */
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.bouton-envoyer:hover {
    background-color: #62b8ff;
    color: #0F172A;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    /* transform: translateY(-2px); */
}

#form-success {
    display: none;
    color: green;
    font-weight: bold;
}

