html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #F8F9FA;
    /* background-image: url(/images/crepis.webp); */
}

/*_________________________________Entete*/
#body-header {
    font-family: "Tektur", sans-serif;
    background-color: #0F172A;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px white;
    padding: 1% 3%;
    font-size: 0.9rem;

    position: sticky; /* Dit au header de se coller quand on scroll */
    top: 0;           /* Dit à quelle distance du haut de l'écran il doit se coller (ici : tout en haut) */
    z-index: 100;     /* S'assure que le header reste TOUJOURS AU-DESSUS du reste du contenu quand on scroll */
}

#left {
    /* text-align: center; */
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: clamp(1rem, 5vw, 2rem); */

}

#left img {
    height: clamp(20px, 40vw, 30px);
}

#body-header p {
    margin: 0;
}

#body-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-icon {
    display: none;
}

#body-header a {
    text-decoration: none;
    color: white;
}

#body-header a:hover {
    color: #2563EB;
}
/*_______________________________________hamburger*/
/* .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
} */

#body-footer {/*_______________________________________footer*/
    font-family: "Tektur", sans-serif;
    background-color: black;
    color: white;
    padding: 0 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

#body-footer img {
    height: clamp(20px, 15vw, 65px);
}

/* #body-footer p {
    margin: 5px;
} */


/* #body-footer li {
    list-style-type: none;
} */

#body-footer a {
    color: white;
    text-decoration: none;
}

.legal-page {/*_______________________________________legal*/
    font-family: "Tektur", sans-serif;
}

.back-to-top {/*______________________________BOUTON BACK TO TOP*/
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;

    width: 60px;
    height: 60px;

    padding: 0;
    border: none;
    background: transparent;

    cursor: pointer;

    /* mix-blend-mode: difference; */

    /* opacity: 0; */
    visibility: hidden;
    /* transform: translateY(20px); */

    transition:
        opacity 0.5s ease,
        transform 0.5s ease,
        visibility 0.5s ease;

}

.back-to-top.visible {

    visibility: visible;
    /* transform: translateY(0); */
}

.back-to-top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* ______________________________________________________________hamburger Mobile */

/* ______________________________________________________________Icones Mobile */

@media (max-width: 550px) {
  
  /* On masque le texte des liens */
  .nav-text {
    display: none;
  }

  /* On affiche les icônes */
  .nav-icon {
    display: block;
    width: clamp(18px, 5vw, 24px);
    height: clamp(18px, 5vw, 24px);
    object-fit: contain;
    pointer-events: none;
  }

  /* Alignement propre des icônes en ligne */
  .nav-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
  }

  /* Agrandit la zone cliquable autour des icônes */
  .nav-menu a {
    /* padding: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*__________________________footer mobile*/

  #body-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #body-footer section {
    /* border-bottom: solid 1px white; */
  }

  #body-footer img {
    height: clamp(20px, 15vw, 65px);
    /* border-bottom: solid 1px white; */
    margin: 15px auto;
    }

}

