/*Mes couleurs
blanc-gris : #F8F9FA
bleu nuit : #0F172A
bleu elec : #62b8ff
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #F8F9FA;
    overflow-x: hidden;/*pour cacher ce qui va arriver par le coté*/
}

/*_________________________________________________________________Entete*/
#body-header {
    font-family: "Tektur", sans-serif;
    background-color: #0F172A;
    color: #F8F9FA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #F8F9FA;
    padding: 1% 3%;
    font-size: 0.9rem;
    position: sticky;/* Dit au header de se coller quand on scroll*/
    top: 0;/* Dit à quelle distance du haut de l'écran il doit se coller (ici : tout en haut) */
    z-index: 100;/* S'assure que le header reste TOUJOURS AU-DESSUS du reste du contenu quand on scroll */
}

#left {
    /* text-align: center; */
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#left img {
    height: clamp(20px, 40vw, 30px);
}

#body-header p {
    margin: 0;
}

#body-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-icon {
    display: none;
}

#body-header a {
    text-decoration: none;
    color: #F8F9FA;
}

#body-header a:hover,
#body-header a.actif {
    color: #62b8ff;
}

/*________________________________________________________________Boutons*/
.btn {
    /* text-align: center; */
    /* font-family: "Tektur", sans-serif; */
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #62b8ff;
    color: #0F172A;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    /* font-size: 1rem; */
    font-weight: 600;
    /* border-radius: 20px; */
    /* opacity: 0; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); */
    /* transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; */
    animation: apparition 0.5s ease-out 0.9s forwards, pulse-subtle 2.5s infinite ease-in-out;
}

.btn:hover,
.btn:focus {
    background-color: #62b8ff;
    color: #0F172A;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    animation-play-state: paused;/*Bloque animation*/
}
/*_________________________________________________________________footer*/
#body-footer {
    font-family: "Tektur", sans-serif;
    background-color: #0F172A;
    color: #F8F9FA;
    padding: 0 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

#body-footer img {
    height: clamp(20px, 15vw, 65px);
}

#body-footer a {
    color: #F8F9FA;
    text-decoration: none;
}

#body-footer a:hover,
#body-footer a.actif {
    color: #62b8ff;
}
/*__________________________________________________________________legal*/
.legal-page {
    font-family: "Tektur", sans-serif;
    max-width: 800px;
    margin: auto;
}
/*_____________________________________________________BOUTON BACK TO TOP*/
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    /* mix-blend-mode: difference; */
    visibility: hidden;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease,
        visibility 0.5s ease;
}

.back-to-top.visible {
    visibility: visible;
}

.back-to-top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.back-to-top:hover {
    transform: scale(1.1);
}
/* ________________________________________________________Icones Mobile */
@media (max-width: 550px) {  
    .nav-text {/*Masque texte liens */
        display: none;
    }

    .nav-icon {/*Affiche icônes */
        display: block;
        width: clamp(18px, 5vw, 24px);
        height: clamp(18px, 5vw, 24px);
        object-fit: contain;
        pointer-events: none;
    }

    .nav-menu ul {/* Alignement icônes en ligne */
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
    }

    .nav-menu a {/*Agrandit zone cliquable autour icônes ?*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*______________________________________________________footer mobile*/
  #body-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #body-footer img {
    height: clamp(20px, 15vw, 65px);
    margin: 15px auto;
    }
}

