html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f3f6f6;
    /* background-image: url(/images/crepis.webp); */
}

/*_________________________________Entete*/
#body-header {
    font-family: "Tektur", sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px white;
    padding: 1% 3%;
    font-size: 0.9rem;

    position: sticky; /* Dit au header de se coller quand on scroll */
    top: 0;           /* Dit à quelle distance du haut de l'écran il doit se coller (ici : tout en haut) */
    z-index: 100;     /* S'assure que le header reste TOUJOURS AU-DESSUS du reste du contenu quand on scroll */
}

#left {
    /* text-align: center; */
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: clamp(1rem, 5vw, 2rem); */

}

#left img {
    height: clamp(20px, 40vw, 30px);
}

#body-header p {
    margin: 0;
}

#body-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

#body-header a {
    text-decoration: none;
    color: white;
}

#body-header a:hover {
    color: #004bca;
}

#body-footer {/*_____________footer*/
    background-color: black;
    color: white;
}

#body-footer p {
    margin: 0;
}

.legal-page {
    font-family: "Tektur", sans-serif;
}

.back-to-top {/*______________________________BOUTON BACK TO TOP*/
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;

    width: 60px;
    height: 60px;

    padding: 0;
    border: none;
    background: transparent;

    cursor: pointer;

    /* mix-blend-mode: difference; */

    /* opacity: 0; */
    visibility: hidden;
    /* transform: translateY(20px); */

    transition:
        opacity 0.5s ease,
        transform 0.5s ease,
        visibility 0.5s ease;

}

.back-to-top.visible {

    visibility: visible;
    /* transform: translateY(0); */
}

.back-to-top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}